<p>home</p>
<div class="alert alert-danger" role="alert">A simple dark alert—check it out!</div>
<p-accordion>
    <p-accordionTab header="Header 1"> Content 1 </p-accordionTab>
    <p-accordionTab header="Header 2"> Content 2 </p-accordionTab>
    <p-accordionTab header="Header 3"> Content 3 </p-accordionTab>
</p-accordion>
<div class="grid">
    <div class="col-4">4</div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
    <div class="col">1 </div>
</div>

<div class="grid">
    <div class="col-2">2</div>
    <div class="col-6">6</div>
    <div class="col-4">4</div>
</div>