@import './base/colors.scss' ;
@import './base/fonts.scss' ;
@import './base/mixins.scss' ;
@import './base/configuration.scss' ; 

// @import '~bootstrap/scss/bootstrap.scss';

@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';


@import './apps/shop/pages/home-page.scss'; 
@import './apps/shop/pages/producs-list.scss'; 


@import './apps/shop/shared/header.scss'; 
@import './apps/shop/shared/footer.scss'; 

@import './libs/ui/ui.scss';
