<div class="admin-sidebar">
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="" />
    </div>
    <div class="links">
        <ul>
            <li>
              <a routerLink=""><i class="pi pi-home"></i> 
               <span class="admin-sidebar-name" >Dashboard</span> </a>
            </li>
            <li>
              <a routerLink="products"><i class="pi pi-briefcase"></i>    <span class="admin-sidebar-name" >Products</span> 
              </a>
            </li>
            <li>
              <a routerLink="categories"><i class="pi pi-list"></i> 
                <span class="admin-sidebar-name" >Categories</span>
              </a>
            </li>
            <li>
              <a routerLink="orders"><i class="pi pi-shopping-cart"></i> 
                <span class="admin-sidebar-name" >Orders</span>

              </a>
            </li>
            <li>
              <a routerLink="users"><i class="pi pi-users"></i>
                <span class="admin-sidebar-name" >Users</span>
 
                </a>
            </li>
            <li class="logout">
              <a (click)="logout()" href="#"><i class="pi pi-sign-out"></i> 
                <span class="admin-sidebar-name"  >logOut</span>
              </a>
            </li>
          </ul>
    </div>
</div>
