<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"></p-toast>
<div class="admin-page">
  <p-card header="Categories" subheader="List Of All Categories">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-tollbar-group-left">
            <p-button styleClass="p-button-success" label="New" icon="pi pi-plus" routerLink="form"></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table [value]="Categories" styleClass="p-datatable-gridlines" responsiveLayout="stack">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th>Icon</th>
              <th>Color</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-Categories>
            <tr>
              <td>{{ Categories.name }}</td>
              <td><i class="pi" style="font-size: 2rem" [ngClass]="'pi-' + Categories.icon"></i></td>
              <td><i class="pi pi-circle-on" style="font-size: 2rem" [ngStyle]="{ color: Categories.color }"></i></td>
              <td>
                <p-button
                  styleClass="p-button-danger mr-2"
                  icon="pi pi-trash"
                  (click)="deleteCategory(Categories.id)"
                ></p-button>
                <p-button
                  styleClass="p-button-warning"
                  (click)="updateCategory(Categories.id)"
                  [routerLink]="['/categories/form', Categories.id]"
                  icon="pi pi-pencil"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog [breakpoints]="{ '960px': '75vw', '640px': '100vw' }" [style]="{ width: '50vw' }">
  Content
</p-confirmDialog>
